/*cesi est un commentaire */

*{
    box-sizing: border-box;
}

html{
    font-size:  62.5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  1.6rem; 
    color: #555;
    margin: 1rem;
    line-height: 1.6;
}

h1 ,h2 , h3 ,h4 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 750px;
    font-style: normal;   
    color: #000;
    line-height: 1.1;
}

h1,
 .h2 {
    font-size: 3.2rem;
    font-weight: 700;
 }

h2,
 .h2 {
    font-size: 2.6rem;
    text-transform: uppercase;

}

h3,
.h3 {
    font-size: 2.4rem;

}

/* sections */
section {
    padding: 5.5rem 0;
}


.section_title {
    margin-top: 0;
    font-size: 3.8rem;
}

.header {
    background: #FFFFFF;
    border: 1px solid  #EEE;
}

@media screen and (max-width:749px) {
    .section_header {
    text-align: center;
    margin-bottom: 3rem;
    }

}

/* container*/

@media screen and (min-width:750px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }
}

.container {
    padding: 1rem 2rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    align-items: stretch;
}

@media screen and (max-width:749px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:750px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
    }
}
.grid_item {
    padding: 1rem;
    flex-grow: 1 ;
    flex-shrink: 1;
    background: #F5F5F5;
    padding: 2rem;
}

.nav {
    display:none;

}

.socials {
    height: 18px;
    display: flex;
}




.logo {
    font-size: 4.5rem;
    font-family: "Itim", cursive;
        font-weight: 500;
        letter-spacing: 2.2px;
}

.header_socials_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.icons {
    display:flex;
    list-style: none;
    height: 36px;
    width: 36px;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    
}


.nav_list {
   list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 2rem;
    flex-direction: row;
}

header a {
    color: #333;
}

a:hover {
    color: red;

}

.header  .right{
    display: flex;
    align-items: center;
}

.burger {
    background:none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin-left: 1.2rem;
}

.bar{
    width: 22px;
    height: 3px;
    background: #333;
    transition: all 0.3s ease;
}

.bar  .burger {
    display: block;
    width: 22px;
    height: 3px;
    margin: 4px 0;
    background: #333;
}



.burger .bar::before .burger .bar::after {
    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background: #333;   
    position: absolute;
    bottom: 0;
}

.burger .bar::before {
transform: translateY(-8px);
}

.burger .bar::after{
    transform: translateY(8px);
}


.nav.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media screen and (min-width:750px) {
    .nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .burger {
        display: none;
    
    }
   .nav_list{
    flex-direction: row;
    gap: 1rem;
   }
}


@media screen and (max-width:749px) {
    
}

.hero {
    background: #5b6c78;
    color: white;
    padding: 1rem 0 0 0 ;
}

.hero_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


@media screen and (max-width:749px) {
    .hero_item.left {
            order: 2;
        }
    
    .hero_item.right {
            order: 1;
        }

}

@media  screen and (min-width:750px) {
    .hero_item {
    flex: 1 0 50%;
    align-items: flex-start;
    text-align: left;
   }
   .hero_item.left {
    align-items:flex-start;
   }
   .hero_avatar image {
    max-width: 400px;
    border-radius: 50% ;
   }
   .hero title {
    color: inherit;
       font-size: 5rem;
   }
}


.hero .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.hero_item span{
    text-transform:uppercase ;
}

.hero title{
    font-size: 4rem;
    margin: 1.6rem 0 0 0 0;
}

.about {
    padding-top: 0;
}

.about  section{
    padding-top: 0;
}

.about .section_title {
    margin-top: 2.8rem;
}


@media screen and (max-width:749px) {
    .about img {
        padding-right: 3rem;
    }
}

.service {
    background: #F5F5F5;
    padding: 3rem 0;
    justify-content: center;
}

.service_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin:  auto;
    
}

.service_icon svg {
    height: 35px;
}